#!/bin/env sh

if test -d ~/go; then
  export GOPATH="$HOME/go"
fi

if test -d "$HOME"/go/bin; then
  export PATH="$HOME/go/bin:${PATH}"
  export GOBIN="$HOME/go/bin"
fi

export PATH="$HOME/sh/bin:${PATH}"
export SHPATH="$HOME/sh"

case "$0" in
-bash)
  # get current branch in git repo
  # shellcheck disable=SC2063
  # shellcheck disable=SC1117
  PS1="\[\e[31m\]\u\[\e[m\] \[\e[34m\]\W\[\e[m\] \[\e[32m\]($(git branch 2>/dev/null | grep '^*' | colrm 1 2))\[\e[m\] \[\e[31m\]►\[\e[m\] "
  export PS1
  # Infinite history.
  HISTSIZE='' HISTFILESIZE=
  ;;
-mksh)
  export PS1="[94m[49m\${PWD} 
 ↳ [106m[30m ${USER} \$ [39m[49m "
  ;;
esac

export TERM="screen-256color"
