#!/bin/env sh

export PATH="${PATH}:$HOME/.local/bin/"

if test -d /h/.local/bin; then
  export PATH="${PATH}:/h/.local/bin/"
fi

case "$0" in
  *bash*)
    export PS1='\[\033[01;36m\][\u@\h\[\033[01;37m\] \W\[\033[01;36m\]]\$\[\033[00m\] '
    # Infinite history.
    HISTSIZE='' HISTFILESIZE=
    ;;
  *)
    export PS1
    PS1="$(tput sgr0)"
    ;;
esac

export TERM="screen-256color"

if test -d ~/go; then
  export GOPATH="~/go"
fi
