#!/bin/env sh
#
# Copyright 2019 Cristian Ariza
#
# See LICENSE file for license details.
# ~/.bashrc: executed by bash(1) for non-login shells.
#
# Exported variables

test -d "$HOME"/.local/bin && export PATH="$HOME"/.local/bin:"$PATH"
test -d "$HOME"/go && export GOPATH="$HOME/go"
test -d "$HOME"/go/bin && export PATH="$HOME/go/bin:${PATH}" && export GOBIN="$HOME/go/bin"
test -d "$HOME"/scripts && export PATH="$HOME/scripts:${PATH}"

export TERM="screen-256color"

# get current branch in git repo
# shellcheck disable=SC2063
# shellcheck disable=SC1117
PS1="\[\e[31m\]\u\[\e[m\] \[\e[34m\]\W\[\e[m\] \[\e[32m\]\$(git branch 2>/dev/null | grep '^*' | colrm 1 2)\[\e[m\] \[\e[31m\]►\[\e[m\] " && export PS1
# Infinite history.
HISTSIZE='' HISTFILESIZE=
