#!/bin/env sh

# Modifies cd to do an ls everytime you access a directory
cd() {
  builtin cd "$@" || return
  ls .
  echo ""
  pwd
}

# Find by name and is case insensitive
search() {
  find . -iname "*$1*" 2>/dev/null
}

# Shows packages installed ordered by size
packagesizes() {
  if test -n "$1"; then
    n="$1"
  else
    n=10
  fi
  dpkg-query -Wf '${Installed-Size}\t${Package}\n' | sort -n | grep -v lib | tail -n "$n"
}

extract() {
  case "$1" in
  *.tar.bz2) tar xjf "$1" ;;
  *.tar.gz) tar xzf "$1" ;;
  *.bz2) bunzip2 "$1" ;;
  *.rar) unrar e "$1" ;;
  *.gz) gunzip "$1" ;;
  *.tar) tar xf "$1" ;;
  *.tbz2) tar xjf "$1" ;;
  *.tgz) tar xzf "$1" ;;
  *.zip) unzip "$1" ;;
  *.Z) uncompress "$1" ;;
  *.7z) 7za e "$1" ;;
  *.tar.xz) tar xf "$1" ;;
  *) echo "'$1' cannot be extracted" ;;
  esac
}

start() {
  "$@" >/dev/null 2>&1 &
}

# Checks the process associated with a window
xid() {
  xprop _NET_WM_PID | sed 's/_NET_WM_PID(CARDINAL) = //' | ps "$(cat)"
}

androidftp() {
  mkdir -p /home/"$(whoami)"/phone_ftp/
  sshfs "${1}":/storage/emulated/0 /home/"$(whoami)"/phone_ftp/ -p 1234
}

openlink() {
  xdg-open "$(cat "$1")" >/dev/null 2>&1 &
}

gofmtall() {
  # shellcheck disable=SC2046
  gofmt -w $(find . -name "*.go")
}

pid() {
  # shellcheck disable=SC2009
  ps -ef | grep -E "PID|$1" | grep -v 'grep'
}
