*
!.Xresources
!.alias
!.bashrc
!.config/
!.config/ms-windows/
!.config/ms-windows/*
!.config/ms-windows/autohotkey/
!.config/ms-windows/autohotkey/*
!.config/ms-windows/classic-shell/
!.config/ms-windows/classic-shell/*
!.config/openbox/
!.config/openbox/*
!.config/terminology/
!.config/terminology/*
!.config/terminology/config/
!.config/terminology/config/*
!.config/terminology/config/standard/
!.config/terminology/config/standard/*
!.config/tint2/
!.config/tint2/*
!.config/wallpaper/
!.config/wallpaper/*
!.env
!.functions
!.gitignore
!.hosts
!.melrc
!.minttyrc
!.minttyrc
!.vimrc
!AppData/
!AppData/Roaming/
!AppData/Roaming/KeePass/
!AppData/Roaming/KeePass/*
!AppData/Roaming/Notepad++/
!AppData/Roaming/Notepad++/*
!bin/
!bin/gtm
!bin/md2html
!bin/md2pdf
!bin/myreddit
!bin/vimv
!move_to_container
AppData/Roaming/Notepad++/session.xml
*~
