*
!.Xresources
!confidential_info_collector
!.alias
!.bashrc
!.minttyrc
!.config/
!.config/ms-windows/
!.config/ms-windows/*
!.config/ms-windows/autohotkey/
!.config/ms-windows/autohotkey/*
!.config/ms-windows/classic-shell/
!.config/ms-windows/classic-shell/*
!.config/openbox/
!.config/openbox/*
!.config/tint2/
!.config/tint2/*
!.config/wallpaper/
!.config/wallpaper/*
!.env
!.functions
!.gitignore
!.hosts
!.melrc
!.minttyrc
!.vimrc
!AppData/
!AppData/Roaming/
!AppData/Roaming/Notepad++/
!AppData/Roaming/Notepad++/*
AppData/Roaming/Notepad++/session.xml
!AppData/Roaming/KeePass/
!AppData/Roaming/KeePass/*
!bin/
!bin/gtm
!bin/md2html
!bin/md2pdf
!bin/myreddit
!bin/vimv
bin/chrome
*~
