[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=xautolock
Comment=
Exec=xautolock -time 10 -locker slock
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

